<%- include('../partials/header') %>
<h2>Fligth Details</h2>

<section id="show-page">
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Departure Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight Number: </div>
    <div><%= flight.flightNo %></div>
    <div>Departure Date: </div>
    <div><%= flight.departs %></div>
        <% flight.destinations.forEach(function(f) { %>
            <div>Destionation Airport:</div>
            <div><%= f.airport %></div>
            <div>Destination Date:</div>
            <div><%= f.arrival %></div>
    

        <% }); %>
     


  </section>

  <br><br><h2>Destination Information:</h2>
    <form id="add-arrival-form" method="POST" action="/flights/<%= flight._id %>/destinations">
        <label>Airport:
            <select name="airport">
              <option value=""></option>
              <option value="AUS">AUS</option>
              <option value="DFW">DFW</option>
              <option value="DEN">DEN</option>
              <option value="LAX">LAX</option>
              <option value="SFO">SFO</option>
            </select>
        </label><br>
        <label>Arrival Date:
            <input type="datetime-local" name="arrival"> 
          </label><br>
          <input type="submit" value="Add Arrival">
    </form>



<%- include('../partials/footer') %>